.login-form-container{
    background-color: ghostwhite;
    width: 70vw;
    height: 70vh;
    align-items: center;
    margin: 0 auto !important;
    position: relative;
    top: 70px;
    left: 230px;
    font-family: 'Gentium Plus', serif;
}

.login-left-side{
    background-image: url("C:\Users\Public\Documents\Licenta\Rent a friend\rent-a-friend\src\images\Rent a friend (1).png");
    background-repeat: no-repeat;
    background-color: #E2CCEE;
    background-size: 100%;
    display: inline-block;
    width: 50%;
    height: 70vh;
}

.line {
    background-color: #4A3667;
}

.login-right-side{
    padding: 0 60px;
    margin: -40px auto 10px;
    width: 80%;
}

.form-horizontal .form-group {
    margin-top: 20px;
}

.btn {
    color: #fff;
    background: linear-gradient(to right, #4A3667, #E2CCEE);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 30%;
    padding: 9px 11px;
    margin: 20px auto;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    display: block !important;
}

.btn:hover {
    box-shadow: 0 0 10px #E2CCEE;
    outline: none;
    background: linear-gradient(45deg, #E2CCEE, #4A3667);
}

.options{
    display: flex;
    justify-content: space-between;
}

.remember-me {
    color: gray;
    font-size: 14px;
}

.remember-me input {
    margin: 0 10px 0 0;
}

.remember-me a {
    margin: 0 -10px 0 0;
}

.signup-link {
    display: block;
    align-items: center;
    margin: 20px auto;
    color: gray;
    font-size: 14px;
}
